<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>الوصفات</ion-title>

        <ion-buttons end>
            <button ion-button right icon-only (click)="addToShoppingList()">
                <ion-icon [name]="post.addToShoppingList ? 'ios-basket' : 'ios-basket-outline'"></ion-icon>
            </button>
            <button ion-button right icon-only (click)="addToFavorite()">
                <ion-icon [name]="post.isFavorite ? 'heart' : 'heart-outline'"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>
</ion-header>

<ion-content>
    <img [src]="'assets/img/' + post.image" width="100%" />

    <div padding-horizontal>
        <ion-row id="recipet-info">
            <ion-col>
                <ion-icon class="recipet-info-icon" name="md-time"></ion-icon>
                {{ post.tags.time }} <span class="recipe-info-label">الطهو</span>
            </ion-col>

            <ion-col>
                <ion-icon class="recipet-info-icon" name="md-timer"></ion-icon>
                12 <span class="recipe-info-label">التحضير</span>
            </ion-col>

            <ion-col>
                <ion-icon class="recipet-info-icon" name="md-body"></ion-icon>
                1 <span class="recipe-info-label">الاشخاص</span>
            </ion-col>
        </ion-row>
        <h2 id="title-recipet">{{ post.title }}</h2>

        <div>
            <ion-segment [(ngModel)]="tab">
                <ion-segment-button value="ingredients">
                    المقادير
                </ion-segment-button>

                <ion-segment-button value="method">
                    الخطوات
                </ion-segment-button>
            </ion-segment>
        </div>
        <div [ngSwitch]="tab">
            <ul *ngSwitchCase="'ingredients'">
                <li *ngFor="let ingredient of _posts.ingredients(post); let i = index">
                    {{ post.ingredients[ingredient] }} {{ ingredient }}
                </li>
            </ul>
            <ul *ngSwitchCase="'method'">
                <li *ngFor="let p of _posts.prepare(post)">{{ p }}</li>
            </ul>
        </div>
    </div>
</ion-content>