<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>المفضلة</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
    <ion-list *ngIf="_posts.favorites().length > 0">
        <ion-item no-lines *ngFor="let post of _posts.favorites()">
            <ion-card (click)="openPost(post)">
                <img class="card-image" [src]="'assets/img/' + post.image"/>
                <ion-card-content>
                    <ion-card-title>{{ post.title }}</ion-card-title>
                </ion-card-content>

                <ul class="card-recipets-info">
                    <li>
                        <ion-icon name="time"></ion-icon>
                        {{ post.tags.time }}
                    </li>
                    <li>
                        <ion-icon name="timer"></ion-icon>
                        12
                    </li>
                    <li>
                        <ion-icon name="md-body"></ion-icon>
                        1
                    </li>
                </ul>
            </ion-card>
        </ion-item>
    </ion-list>


    <div *ngIf="_posts.favorites().length <= 0" text-center class="no-posts">
        <ion-icon name="heart-outline"></ion-icon>

        <h2>لا يوجد في مقالات في المفضلة</h2>
        <button ion-button primary (click)="goToBrowse()">تصفح المقالات الآن</button>
    </div>
</ion-content>
