page-search {
  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 1.6em;
      width: 100%;
      font-weight: bold;
      color: #fff;
      font-family: 'Cairo-Regular'!important;
    }

    .card-overlay{
      background: rgba(0,0,0,0.8);
    }
    .card-image{
      max-height: 200px;
    }
  }
}
